body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section_one {
    background: url('img/img03.jpg') center / cover fixed;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 100px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.header_row {
    display: flex;
    justify-content: space-between;
}

.header_logo {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url('img/img02.jpg') center / cover;
}

a {
    text-decoration: none;
}

.header_menu {
    display: flex;
    align-items: center;
    gap: 25px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header_menu {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.info {
    padding: 40px;
    height: auto;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.about_row {
    display: flex;
    justify-content: space-between;
    background-color: rgba(202, 199, 199, 0.436);
    padding-right: 30px;
}

.about_image {
    background: url('img/img04.jpg') center / cover;
    width: 500px;
    height: 300px;
    flex: 0 1 auto;
}

.about_content {
    text-align: right;
    flex: 0 1 500px;
}

.about_title {
    font-size: 48px;
    font-weight: 900;
    color: white;
    margin: 0px 0px 15px 0px;
}

.about_text {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}

.about_button {
    color: white;
    background-color: #3882f6;
    padding: 10px 30px;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.section_two {
    text-align: center;
    padding: 40px 0 80px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.information_title {
    font-size: 36px;
    font-weight: 900;
    padding: 0px 0px 40px 0px;
}

.information_row {
    display: flex;
    justify-content: space-between;
}

.information_column {
    text-align: center;
}

.information_image {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: url('img/img05.jpg') center / cover;
    border-radius: 10%;
    border: 5px solid #000;
    margin: 0px 0px 10px 0px;
}

a {
    text-decoration: none;
}

.information_text {
    font-size: 16px;
    font-weight: bold;
    max-width: 200px;
}

.section_three {
    background-color: #e5e7eb;
    padding: 80px 0 70px;

}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.review_text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.review_author {
    text-align: right;
    font-size: 18px;
    font-weight: 900;
    margin: 20px 0px 0px 0px;
}

.section_four {
    padding: 100px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.sign-up_context {
    background-color: #3882f6;
    padding: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-up_text {
    color: #fff;
    font-size: 18px;
}

.sign-up_btn {
    color: #fff;
    font-size: 22px;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px 40px;
}

.footer {
    padding: 40px;
    background-color: #131c2c;
    text-align: center;
}

.footer_text {
    color: white;
}